---
layout: splash
author_profile: false
sidebar:
  nav: "sidemenu"
header:
  overlay_image: /images/site/main.png
  overlay_filter: 0.0
  actions:
    - label: "Get Started"
      url: "/categories"
read_time: false
excerpt: A community driven site devoted to getting hands on & learning Azure<br/><br/>Explore technical guides, labs & workshops across a range of Azure topics
classes: wide
toc: false
hidden: true
search: false
entries_layout: grid

feature_row:
  - image_path: /images/site/home/browse.png
    title: "Categories"
    url: "/categories"
    excerpt: "If you're interested in a particular domain or topic, browse all available content grouped by category"
    btn_label: "Browse"
    btn_class: "btn--info"

  - image_path: /images/site/home/new.png
    title: "Recent"
    url: "/recent"
    excerpt: "In a rush? Explore some of the recently added guides, labs and workshops"
    btn_label: "View Recent"
    btn_class: "btn--info"

  - image_path: /images/site/home/search.png
    title: "Search"
    url: "/search"
    excerpt: "Can't find what you need? Dig through all our content and archives with a full text search"
    btn_label: "Search"
    btn_class: "btn--info"
---

{% assign page.read_time = true %}

<h1>Featured Content</h1>

{% include featured.html %}

<h1>Explore The Citadel</h1>
{% include feature_row %}
