.carousel {
   width: 95%; 
   margin-left: auto; 
   margin-right: auto;
   /*height: 400px;*/
}

.carousel h2 a {
   text-align: center; 
   color: #0072c6;
}

.carousel a img {
   width: 100%;
   height: 400px;
   object-fit: cover;
   max-height: 400px;
}
.hometile {
   background-color:#eeeeee; 
   padding-bottom: 20px;
   text-align: center;
   cursor: pointer;
}
.hometile img {
   width: 128px; 
   display: block; 
   margin: auto;
}