/* Nord
For use with Jekyll and Pygments
*/

//Polar Night
$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
//Snow Storm
$nord4: #D8DEE9;
$nord5: #E5E8F0;
$nord6: #ECEFF4;
//Frost
$nord7:  #8FBCBB;
$nord8:  #88C0D0;
$nord9:  #81A1C1;
$nord10: #5E81AC;
//Aurora
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;   

.highlight {
    background-color: $nord0; color: $nord4; 

    .hll { background-color: $nord3 }
    .c { color: $nord5 }
    .err { color: $nord14; background-color: $nord3 }
    .g { color: $nord5 }
    .k { color: $nord9 }
    .l { color: $nord15 }
    .n { color: $nord4 }
    .o { color: $nord13 }
    .x { color: $nord15 }
    .p { color: $nord6 }
    .cm { color: $nord5 }
    .cp { color: $nord5 }
    .c1 { color: $nord5 }
    .cs { color: $nord14; font-weight: bold }
    .gd { color: $nord14 }
    .ge { color: $nord15; font-style: italic }
    .gr { color: $nord14 }
    .gh { color: $nord4; font-weight: bold }
    .gi { color: $nord13 }
    .go { color: $nord3 }
    .gp { color: $nord4; font-weight: bold }
    .gs { color: $nord15; font-weight: bold }
    .gu { color: $nord15; font-weight: bold }
    .gt { color: $nord9 }
    .kc { color: $nord11 }
    .kd { color: $nord13 }
    .kn { color: $nord9; font-weight: bold }
    .kp { color: $nord14 }
    .kr { color: $nord14 }
    .kt { color: $nord5 }
    .ld { color: $nord7 }
    .m { color: $nord15 }
    .s { color: $nord7 }
    .na { color: $nord14 }
    .nb { color: $nord9 }
    .nc { color: $nord9 }
    .no { color: $nord15 }
    .nd { color: $nord15 }
    .ni { color: $nord11 }
    .ne { color: $nord13; font-weight: bold }
    .nf { color: $nord9 }
    .nl { color: $nord15 }
    .nn { color: $nord9 }
    .nx { color: $nord15 }
    .py { color: $nord15 }
    .nt { color: $nord14 }
    .nv { color: $nord4 }
    .ow { color: $nord13 }
    .w { color: $nord15 }
    .mf { color: $nord15 }
    .mh { color: $nord15 }
    .mi { color: $nord15 }
    .mo { color: $nord15 }
    .sb { color: $nord7 }
    .sc { color: $nord7 }
    .sd { color: $nord7 }
    .s2 { color: $nord7 }
    .se { color: $nord7 }
    .sh { color: $nord7 }
    .si { color: $nord7 }
    .sx { color: $nord7 }
    .sr { color: $nord7 }
    .s1 { color: $nord7 }
    .ss { color: $nord7 }
    .bp { color: $nord9 }
    .vc { color: $nord9 }
    .vg { color: $nord4 }
    .vi { color: $nord13 }
    .il { color: $nord15 }
}