/* ==========================================================================
   Syntax highlighting and formatting
   ========================================================================== */

pre.highlight {
  padding: 1em;
}

/*
   Pygments.rb and Rouge
   ========================================================================== */

.linenos,
.code {
	padding: 0;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
}
.linenodiv {
  @include font-size(16);
}

.highlight {
	overflow-x: auto;
	@include font-size(16);
	border: 1px solid darken($body-color, 5);
	border-radius: $border-radius;
	pre {
		position: relative;
		margin: 0;
		padding: 1em;
	}
	&:hover {
		border: 1px solid $form-border-color-hover;
	}
}

.highlighttable {
	tr:hover>td,
	tr:hover>th {
		background: transparent
	}
}

// Individual colours removed - now using @include _syntax-highlighting.scss

/*
   GitHub Gists
   ========================================================================== */

//Remove extra padding
.gist table {
  margin-top:0px;

}

//Remove hover effect
.gist tbody
{
  tr:hover > td, tr:hover > th {
    background-color:transparent;
  };
  background-color:white; //Background color white
}
