/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #f3f6f6 !default;
$text-color: #40514e !default;
$muted-text-color: #40514e !default;
$primary-color: rgb(0, 120, 215) !default;
$border-color: mix(#fff, #40514e, 75%) !default;
$footer-background-color: rgb(0, 120, 215) !default;
$link-color: rgb(0, 120, 215) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

$menu-color: #1a1a1f !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.social-icons {
  font-size: 120% !important;
}

// This makes code blocks (```) without a language look like Prism.js blocks
// Prism.js will overrule this when a language is specified
pre:not([class*="language-"]) {
  color: white;
  background-color: #272822;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

// Style for single backtick sections
p code:not([class*="language-"]), li code:not([class*="language-"]) {
  background-color: #ddd !important;
}